//colors and other palletes
@import "palettes.scss";

.navbar {
    box-shadow:
        0px 4px 12px 0px rgba(0, 0, 0, 0.425),
        0px 2px 4px rgba(0, 0, 0, 0.384);
    width: 98%;
}

li a{
    color: black;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 1rem;
}

.card__img {
    background-color: transparent;
    border-radius: 10px;
}

.card {
    background-color: lighten($color: map-get($map: $colors, $key: "secondary" ), $amount: 15);
    border: none;
}

.img-roundedFit {
    border-radius: 10px;
    margin: 1rem;
}

#card__pngImg {
    background-color: white;
    @extend.img-roundedFit
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

button a{
    @extend.button;
    text-decoration: none;
    color: black;
}

@each $var, $value in $colors {
    .btn--#{$var} {
        color: $value;
        border-color: $value;
        @extend .button;
    }

    .btn--#{$var}:hover {
        color: white;
        border-color: $value;
        background-color: $value;
    }

    .btn--#{$var}:focus {
        box-shadow: 0 0 0 0.25rem lighten($color: $value, $amount: 25%);
    }
}

@each $red, $color in $redes {
    .icon__color--#{$red}{
        color: $color;
        margin: .25rem;
    }
}

.insta__logo{
    height: 1.3rem;
    margin: .25rem;
}
