.campo__contacto{
    border: 0px;
    padding: 7px 7px;
    margin-bottom: 10px;
    color: #939598;
    width: 100%;
}


#campo__comentario {
    border: 0px;
    padding: 7px 7px;
    margin-bottom: 10px;
    color: #939598;
    height: 180px;
    width: 100%;
}

.form__contacto{
    background-color: map-get($map: $colors, $key: "primary");
    border: 1rem solid map-get($map: $colors, $key: "primary");
    border-radius: .5rem;
    width: 95%;
    max-width: 95%;
    flex-shrink: 1;
}

