
//colors map
$colors: (
    primary: #E4FFE1,
    secondary: #F0A868,
    send: #6A8D73,
    link: #1C3144,
    happy: yellow
);

// icon colors map
$redes: (
    whatsapp: #25D366,
    facebook: #4267B2,    
    youtube: #FF0000,
);





