* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: chocolate;
}

.navbar {
    box-shadow:
        0 4px 12px 0 rgb(0 0 0 / 7%),
        0 2px 4px rgb(0 0 0 / 5%);
}

.background__color__footer {
    background-color: rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 33%!important;
    }
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 33%!important;
}
}

.logoMarcas {
    height: auto;
    width: auto;
    transition: transform 2s ease-in-out;
}

.logoMarcas:hover {
    animation: up-and-down 2s ease-in-out;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);

    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);

    }
}

.font-family__comicNeue{
    font-family: 'Comic Neue', cursive;
}

.campo__contacto{
    border: 0px;
    padding: 7px 7px;
    margin-bottom: 10px;
    color: #939598;
    width: 100%;
}


#campo__comentario {
    border: 0px;
    padding: 7px 7px;
    margin-bottom: 10px;
    color: #939598;
    height: 180px;
    width: 100%;
}
