* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: chocolate;
}

.navbar {
    box-shadow:
        0 4px 12px 0 rgb(0 0 0 / 7%),
        0 2px 4px rgb(0 0 0 / 5%);
}

.background__color__footer {
    background-color: rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 33%!important;
    }
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 33%!important;
}
}